<div class="onePhoto" style="background: {{photo.color}}" ng-keypress="keypress($event)">
    <h1>{{photo.analysis[0].description.captions[0].text}}
        <button type="button" class="btn btn-default btn-xs" ng-click="speak(photo.analysis[0].description.captions[0].text)" ng-click='responsiveVoice.speak( "US English Female")'>Describe it to me</button>
    </h1>
    <div class="row">
        <div class="col-md-9">

            <div class="photo">

                <img src="{{photo.url}}">
            </div>
<hr>
        </div>
        <div class="col-md-3">
            <span fb-like></span>
            <hr>
            <h3>Featured Tags</h3>
            <span ng-repeat="tag in analysis.tags" class="tag">{{tag}}</span>
            <h3>Color Tag</h3>
            <span ng-repeat="color in photo.analysis[0].color.dominantColors" class="colorTags" style="background: {{color}}; border-color: {{color}}"></span>
            <h3>Tags</h3>
            <!-- <h3>{{}}</h3> -->
            <span ng-repeat="tag in analysis.alltags" class="tag">{{tag}}</span>
            <hr>
            <input id="myFileInput" type="file" accept="image/*;capture=camera" capture="camera">
            <hr>
            <button type="button" class="btn btn-default pull-left" ng-click="deletePhoto(photo._id)">delete</button>
        </div>
    </div>
</div>
