<div ng-if="photos.length>0">
    <span class="loader" style="width: {{loader}}%;" ng-class="{'loaded': loader>100}"></span>
    <span class="loader sub-loader" style="width: {{loader}}%;" ng-class="{'loaded': loader>100}"></span>
    <h1>{{(photos | filter:searchFilter | filter:searchFilterByColor | filter:searchFilterByTags).length}} Photos</h1>
    <!-- <button type="button" class="btn btn-default btn-xs pull-right">edit</button> -->
    <span class="colorTags filter all" ng-click="filterByColor('all')"></span>
    <span ng-repeat="color in analysis.dominantColor" class="colorTags filter" style="background: {{color}}; border-color: {{color}}" ng-click="filterByColor(color)"></span>
    <br>
    <span class="tag filter" ng-click="filterByTag('all')">All <span class="tagNum">{{photos.length}}</span></span>
    <span ng-repeat="tag in analysis.tags | limitTo:'25'" class="tag filter" ng-click="filterByTag(tag.key)">{{tag.key}} <span class="tagNum">{{tag.value}}</span></span>
    <br><br>
    <div class="form-group">
      <input type="text"class="form-control" ng-model="searchFilter" placeholder="search">
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 col-andy">
            <div class="adding animated fadeIn" ngf-select="uploadFiles($files)" multiple="multiple" ngf-drop="uploadFiles($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf">
                <i class="fa fa-spinner icon-upload" style="font-size:2em; font-weight: 100"></i>
                <i class="fa fa-spinner icon-picture" style="font-size:2.5em; font-weight: 100"></i>
                <!-- <div class="uploadProgress" style="height: {{}}"></div> -->
                <!-- <span class="icon-focus"></span> -->
                <!-- <p class="addPhoto">Upload photo</p> <-->
            </div>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-3 col-andy" ng-repeat="photo in photos | filter:searchFilter | filter:searchFilterByColor | filter:searchFilterByTags">
            <div ng-class="{'fadeIn': photo, 'analysisloaded': photo.analysis.length>0}" ng-if="photo" class="card animated" ui-sref="photo({imageId: photo._id})">
                <div class="image"><img src="{{photo.url}}"></div>
                <!-- <div class="nav">
                <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            </div> -->
            </div>
            <!-- <p>{{photo.analysis[0].color}}</p> -->
            <!-- <p>{{photo.analysis[0].tags}}</p> -->
        </div>
    </div>
</div>
<div ng-if="photos.length===0">
    <div class="addinngNow" ngf-select="uploadFiles($files)" multiple="multiple" ngf-drop="uploadFiles($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf">
        <i class="fa fa-spinner icon-upload" style="font-size:2em; font-weight: 100"></i>
        <i class="fa fa-spinner icon-picture" style="font-size:2.5em; font-weight: 100"></i>
    </div>
</div>
