<div class="onePhoto" style="background: {{photo.color}}">
<h1>Photo <button type="button" class="btn btn-default btn-xs pull-right" ng-click="deletePhoto(photo._id)">delete</button></h1>
    <div class="photo">
        <img src="{{photo.url}}">
    </div>
    <!-- <h1>Details</h1> -->
    <h3>fileName: {{photo.fileName}}</h3>
    <h3 ng-if="photo.albums.length > 0">albums: {{photo.albums}}</h3>
    <button type="button" class="btn btn-default btn-xs" ng-click="analyze(photo.url)">analyze</button>
</div>
